<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ximalaya.ops.common.web.dao.IColumnConfigDAO">
    <select id="getListByMetaIdAndSchemaAndTable" resultType="com.ximalaya.ops.common.web.model.po.ColumnConfigPO">
        SELECT * FROM ops.common_column_config
        WHERE meta_id=#{metaId} AND schema_name=#{schema} AND table_name=#{table}
    </select>
    <insert id="insertOrUpdateByMetaIdSchemaTableColumn">
        INSERT INTO ops.common_column_config (id, meta_id, schema_name, table_name, column_name, data_type, column_type,
        config_json, created_at, updated_at)
        VALUE
        (#{id}, #{metaId}, #{schemaName}, #{tableName}, #{columnName}, #{dataType},
        #{columnType}, #{configJson}, now(), now())
        ON DUPLICATE KEY UPDATE
        <trim prefix="" suffixOverrides=",">
            data_type = VALUES(data_type),
            column_type = VALUES(column_type),
            config_json = VALUES(config_json),
            updated_at = now(),
        </trim>
    </insert>
</mapper>