<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ximalaya.ops.common.web.dao.IDbConnectDAO">
    <select id="selectAll" resultType="com.ximalaya.ops.common.web.model.po.DbConnectPO">
        select * from `ops`.`common_db_connect` order by created_at
    </select>
    <select id="getById" resultType="com.ximalaya.ops.common.web.model.po.DbConnectPO">
        SELECT * from `ops`.`common_db_connect` where id = #{id}
    </select>
    <select id="getByMetaId" resultType="com.ximalaya.ops.common.web.model.po.DbConnectPO">
        SELECT db.* FROM ops.common_db_connect db
        INNER JOIN ops.common_meta_config meta ON db.id = meta.connect_id
        WHERE meta.id=#{mataId}
    </select>
</mapper>