<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ximalaya.ops.common.web.db.IMySqlMetaDataDAO">
    <resultMap id="table_info" type="com.ximalaya.ops.common.web.model.po.TableInfoPO">
        <result property="table_schema" column="TABLE_SCHEMA"/>
        <result property="table_name" column="TABLE_NAME"/>
        <result property="table_comment" column="TABLE_COMMENT"/>
    </resultMap>

    <resultMap id="column_info" type="com.ximalaya.ops.common.web.model.po.ColumnInfoPO">
        <result property="COLUMN_NAME" column="COLUMN_NAME"/>
        <result property="ORDINAL_POSITION" column="ORDINAL_POSITION"/>
        <result property="COLUMN_DEFAULT" column="COLUMN_DEFAULT"/>
        <result property="IS_NULLABLE" column="IS_NULLABLE"/>
        <result property="DATA_TYPE" column="DATA_TYPE"/>
        <result property="COLUMN_TYPE" column="COLUMN_TYPE"/>
        <result property="COLUMN_KEY" column="COLUMN_KEY"/>
        <result property="EXTRA" column="EXTRA"/>
        <result property="COLUMN_COMMENT" column="COLUMN_COMMENT"/>
    </resultMap>

    <select id="getTableComment" resultMap="table_info">
        select * from information_schema.TABLES
        where TABLE_SCHEMA=#{tableSchema} and TABLE_NAME=#{tableName}
    </select>

    <select id="getTableInfo" resultMap="column_info">
        select *
        from INFORMATION_SCHEMA.columns
        where table_name = #{tableName}
        and table_schema=#{tableSchema}
    </select>

    <select id="showTable" resultType="java.util.Map">
        show create table ${schema}.${tableName}
    </select>
</mapper>